[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-mongoengine = "*"
flask-restful = "*"
dnspython = "*"
flask-jwt-extended = "*"
werkzeug = "*"

[requires]
python_version = "3.7"
